html
  head
    title My Site - #{title}
    link(rel="stylesheet" href="/css/simple.min.css")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    header
      h1 #{instanceName}

      nav
        a(href="/") #{__('nav.home')}
        a(href="/things") #{__('nav.things')}

    main
      block content

    footer
      p Site Footer